body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i{
  cursor: pointer;
}

.heading {
  font-family: serif;
  font-size: 65px;
}

.labelheading {
  font-family: ui-sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
}

.btn-newcolor {
  background-color: #9ec4e5;
}